@model WebApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @ng_controller = "AuthController" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account...</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4">Register as student or job provider</label>
        <div class="col-md-8">
            <div class="radio-button-group btn-group" role="group">
                <label class="btn btn-default" ng-click="authTypeClick($event)"><input type="radio" name="Type" value="1" />Student</label>
                <label class="btn btn-default" ng-click="authTypeClick($event)"><input type="radio" name="Type" value="2" />Provider</label>
            </div>
        </div> 
    </div>
    <div class="form-group">        
        <div class="col-md-offset-4 col-md-8">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}
