@model WebApp.Models.StudentUser
 
@using WebApp.Models;

@{
    ViewBag.Title = "Details";
}
<div>
    <h4>Student</h4>
    <hr />

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    </p>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Create New", "Create", "Interests")
</p>
<table class="table">
    <tr>
        <th>
            Skill
        </th>
        <th>
            Level
            @* 4 ujutro *@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Interests)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Foi.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", "Interests", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

    @foreach (GeneralUser item in ViewBag.Recommendations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @String.Join(",", item.Interests.Select(x => x.Foi.Name))
            </td>
        </tr>
    }

</table>